:root .theme_dark {
    --bg-color: #000028;
    --title-color: #DB00FF;
    --text-color: #F1B2CE;
    --accent-text-color: #000028;
    --accent-color: #FF0070;
    --accent-color-rectangle: #FF0070;
    --title-shadow: 4px 4px 0px var(--accent-color);
}

.theme_dark .header__theme-menu-button_type_dark {
    border-color: var(--text-color);
}

.theme_dark .header__theme-menu-button_type_light {
    border-color: transparent;
}

.theme_dark .header__decorations {
    visibility: visible;
}


