:root .theme_light {
    --bg-color: #FFF1F7;
    --title-color: #FFC2E6;
    --text-color: #353430;
    --accent-text-color: #353430;
    --accent-color-rectangle: #FF8DCB;
    --accent-color: #353430;
    --title-shadow: 4px 4px 0px #FF0070;
}

.theme_light .header__decorations {
    visibility: hidden;
}

.theme_light .header__title {
    text-shadow: var(--title-shadow);
}


.theme_light .header__theme-menu-button_type_dark {
    border-color: transparent;
}

.theme_light .header__theme-menu-button:focus-visible {
    border-bottom-color: var(--text-color);
}

.theme_light .header__theme-menu-button_type_light {
    border-color: var(--text-color);
}

.theme_light .content__link {
    --title-shadow: 1px 1px 0px var(--accent-color-rectangle);
    text-shadow: var(--title-shadow);
}

.theme_light .footer__title {
    --title-shadow: 2px 2px 0px #FF0070;
}

@media (prefers-color-scheme: light) {
    :root {
        --bg-color: #FFF1F7;
        --title-color: #FFC2E6;
        --text-color: #353430;
        --accent-text-color: #353430;
        --accent-color-rectangle: #FF8DCB;
        --accent-color: #353430;
        --title-shadow: 4px 4px 0px #FF0070;
    }

    .page {
        background-image: url("../images/cover-image-light.png");
    }

    .theme_light .header__title {
        text-shadow: var(--title-shadow);
    }

    .header__decorations {
        visibility: hidden;
    }

    .header__theme-menu-button_type_dark {
        border-color: transparent;
    }

    .header__theme-menu-button_type_light {
        border-color: var(--text-color);
    }

    .content__link {
        --title-shadow: 1px 1px 0px var(--accent-color-rectangle);
        text-shadow: var(--title-shadow);
    }

    .footer__title {
        --title-shadow: 2px 2px 0px #FF0070;
    }
}
