.page.theme_light {
    --bg-color: #FFF1F7;
    --text-color: #353430;
    --title-color: #FFC2E6;
    --title-shadow: 4px 4px 0px #FF0070;
    --accent-color: #FF8DCB;

    color: var(--text-color);
    background-color: var(--bg-color);
}

.page.theme_light .header {
    background-image: url("../images/cover-image-light.png");
}

.page.theme_light .decorated-zone::before {
    border-block-start: 1px solid var(--text-color);
    border-inline-end: 1px solid var(--text-color);
}

.page.theme_light .decorated-zone::after {
    border-block-end: 1px solid var(--text-color);
    border-inline-start: 1px solid var(--text-color);
}

.page.theme_light .header__decorations {
    visibility: hidden;
}

.page.theme_light .header__title {
    color: var(--title-color);
    text-shadow: var(--title-shadow);
}

.page.theme_light .content__title {
    color: var(--text-color);
}

.page.theme_light .content__link {
    --title-shadow: 1px 1px 0px var(--accent-color);
    text-shadow: var(--title-shadow);
}
